.stat_block {
    @apply flex items-center rounded-md relative border border-[#262626] transition-all duration-150;
    background-color: #121212;
    @apply col-span-3 md:col-span-2 lg:col-span-6;
    @apply p-4;

    &:hover {
        background-color: #1A1A1A;
        border-color: #313131;
    }

    & > .status_bar {
        @apply w-1 h-full absolute left-0 top-0 rounded-l-md sm:hidden;
    }

    & > .icon {
        @apply hidden flex-shrink-0 items-center justify-center rounded w-9 h-9 border border-[#262626];
        background-color: #0A0A0A;
        @apply transition-colors duration-150;
        @apply sm:flex sm:mr-3.5;

        & > svg {
            @apply w-4 h-4 m-auto text-[#A0A0A0];
        }
    }
}

.terminal {
    @apply flex flex-col w-full;

    & .overflows_container {
        @apply -ml-4 sm:ml-0;
        width: calc(100% + 2rem);

        @screen sm {
            @apply w-full;
        }
    }

    & > .container {
        @apply p-3.5 bg-[#080808] border-x border-[#262626] min-h-[22rem] flex-1 font-mono text-xs shadow-none;

        & #terminal {
            @apply h-full;

            &::-webkit-scrollbar-track {
                @apply w-1.5 bg-transparent;
            }

            &::-webkit-scrollbar-thumb {
                @apply bg-[#262626] rounded-full;
            }
        }
    }

    & .command_icon {
        @apply flex items-center top-0 left-0 absolute z-10 select-none h-full px-3 text-[#656B6B];
    }

    & .command_input {
        @apply relative bg-[#121212] px-3 text-[#FFFFFF] pl-9 pr-4 py-2.5 w-full font-mono text-xs rounded-b-md border border-t-0 border-[#262626];
        @apply focus:ring-0 outline-none focus-visible:outline-none;
        @apply transition-colors duration-150;
        @apply active:border-[#313131] focus:border-[#FFFFFF];
    }
}

.chart_container {
    @apply rounded-md pt-3 pb-2 px-3 border border-[#262626] relative overflow-hidden transition-all duration-150;
    background-color: #121212;

    &:hover {
        border-color: #313131;
    }
}
